# Beer list - scraping
By: Arhym

Last update: Nov 19, 2022

### prep

In [17]:
!pip install gazpacho

Requirement already satisfied: gazpacho in /opt/python/envs/default/lib/python3.8/site-packages (1.1)
WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the '/opt/python/envs/default/bin/python -m pip install --upgrade pip' command.

In [18]:
import gazpacho
import requests

In [19]:
from gazpacho import Soup
from requests import get

In [20]:
url = "https://toolbeer.dk/collections/beer"

In [21]:
resp = get(url)
resp.status_code

200

In [22]:
beerlist = Soup(resp.text)

### scrapping

In [23]:
# get beer name
test = beerlist.find("h3", {'class': 'card__heading h5'}, mode = 'first').strip()

print(test)

To Øl Advent Calendar 2022

In [24]:
titles = beerlist.find("h3", {'class': 'card__heading h5'})

clean_titles = []

for title in titles:
    clean_titles.append(title.strip())

pd.DataFrame(clean_titles)

,0
0,To Øl Advent Calendar 2022
1,12th Anniversary
2,Santa's Secret: Mochaccino Messiah Triple Shot
3,Blizzard (in A Beer Mug)
4,Easy Jeff
5,Not Just another
6,Nisse Juice
7,Superstudio DIPA
8,Domesticated Paradise Sour
9,Whirl Champions 2022
10,Hop-To-Mist
11,Brokilde Winter
12,Division of Light
13,Ambience
14,#10 DIPA
15,Collaboration Curse
16,45 Days Märzen
17,45 Days Vienna Lager
18,Blueberry Sour
19,Mango and vanilla sour

In [25]:
# get brewery name
vendors = beerlist.find("div", {'class': 'caption-with-letter-spacing light'})
vendors = [str(vendor.strip()) for vendor in vendors]

pd.DataFrame(vendors)

,0
0,To Øl
1,To Øl
2,To Øl
3,To Øl
4,To Øl
5,To Øl
6,To Øl
7,Gamma
8,Gamma
9,To Øl
10,To Øl
11,To Øl
12,To Øl
13,To Øl
14,To Øl
15,To Øl x Årpus
16,To Øl
17,To Øl
18,To Øl
19,To Øl

In [26]:
# get beer price
prices = beerlist.find("span", {'class': 'price-item price-item--sale price-item--last'})
prices = [str(price.strip()) for price in prices]

data = pd.DataFrame(prices)
data

,0
0,"795,00 DKK"
1,"72,00 DKK"
2,"From 65,00 DKK"
3,"From 51,00 DKK"
4,"65,00 DKK"
5,"65,00 DKK"
6,"From 35,00 DKK"
7,"60,00 DKK"
8,"58,00 DKK"
9,"From 65,00 DKK"
10,"From 45,00 DKK"
11,"45,00 DKK"
12,"48,00 DKK"
13,"40,00 DKK"
14,"50,00 DKK"
15,"43,00 DKK"
16,"42,00 DKK"
17,"40,00 DKK"
18,"48,00 DKK"
19,"50,00 DKK"

In [27]:
# split price data
new = data[0].str.split(n=2, expand=True)
data["price"] = new[0]
data["price2"] = new[1]

new

,0,1,2
0,"795,00",DKK,None
1,"72,00",DKK,None
2,From,"65,00",DKK
3,From,"51,00",DKK
4,"65,00",DKK,None
5,"65,00",DKK,None
6,From,"35,00",DKK
7,"60,00",DKK,None
8,"58,00",DKK,None
9,From,"65,00",DKK
10,From,"45,00",DKK
11,"45,00",DKK,None
12,"48,00",DKK,None
13,"40,00",DKK,None
14,"50,00",DKK,None
15,"43,00",DKK,None
16,"42,00",DKK,None
17,"40,00",DKK,None
18,"48,00",DKK,None
19,"50,00",DKK,None

In [28]:
# merge price data
new.loc[new[0] == "From"] = new[[1]]
new[0]

In [29]:
# remove , from price
new_num = new[0].str.split(',', n=1, expand=True)

clean_price = new_num[0]
clean_price

### create data frame

In [48]:

import pandas as pd
beerlist.name = pd.DataFrame({
    "beer_name": clean_titles,
    "brewery": vendors,
    "price": clean_price
})

beerlist.name

,beer_name,brewery,price
0,To Øl Advent Calendar 2022,To Øl,795
1,12th Anniversary,To Øl,72
2,Santa's Secret: Mochaccino Messiah Triple Shot,To Øl,65
3,Blizzard (in A Beer Mug),To Øl,51
4,Easy Jeff,To Øl,65
5,Not Just another,To Øl,65
6,Nisse Juice,To Øl,35
7,Superstudio DIPA,Gamma,60
8,Domesticated Paradise Sour,Gamma,58
9,Whirl Champions 2022,To Øl,65
10,Hop-To-Mist,To Øl,45
11,Brokilde Winter,To Øl,45
12,Division of Light,To Øl,48
13,Ambience,To Øl,40
14,#10 DIPA,To Øl,50
15,Collaboration Curse,To Øl x Årpus,43
16,45 Days Märzen,To Øl,42
17,45 Days Vienna Lager,To Øl,40
18,Blueberry Sour,To Øl,48
19,Mango and vanilla sour,To Øl,50

In [31]:
print(beerlist.name.info())
print("-----------------------")
print(beerlist.name.shape)
print("-----------------------")
print(beerlist.name.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   20 non-null     object
 1   vendor  20 non-null     object
 2   price   20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes
None
-----------------------
(20, 3)
-----------------------
                             title vendor price
count                           20     20    20
unique                          20      3    13
top     To Øl Advent Calendar 2022  To Øl    65
freq                             1     17     4